:root {
	--bg-color: rgb(14, 14, 14);
	--fg-color: #950101;
	--fg-dark: #3d0000;
	--fg-bright: #FF0000;
	--text-normal: rgb(92, 92, 92);
}

body {
	background-color: var(--bg-color);
	color: var(--text-normal);
}

a {
	color: var(--fg-color);
}

a:hover {
	color: var(--fg-bright);
}